@import "./reset.css";

body {
  overflow: hidden;
}

.top .top__col1 {
  width: 100%;
  height: 80px;

  background-color: #7efff5;
}

.main .main__col1 {
  width: 100%;
  height: 60vh;

  background-color: #67e6dc;
}

.bottom {
  display: flex;
}

.bottom .bottom__col1 {
  width: 50%;
  height: 250px;

  background-color: #18dcff;
}

.bottom .bottom__col2 {
  width: 50%;
  height: 150px;

  background-color: #17c0eb;
  display: flex;
  flex-direction: row;
}

.bottom .bottom__col2-1 {
  width: 50%;
  height: 150px;

  background-color: #25ccf7;

  margin-top: 75px;
}

.bottom .bottom__col2-2 {
  width: 50%;
  height: 150px;

  background-color: #48dbfb;

  margin-top: 75px;
}
