@import "./reset.css";

body {
  overflow: hidden;
}

.top .top__col1 {
  width: 100%;
  height: 80px;

  background-color: aqua;
}

.main .main__col1 {
  width: 100%;
  height: 60vh;

  background-color: aquamarine;
}

.bottom {
  display: flex;
}

.bottom .bottom__col1 {
  width: 50%;
  height: 250px;

  background-color: coral;
}

.bottom .bottom__col2 {
  width: 50%;
  height: 150px;

  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
}

.bottom .bottom__col2-1 {
  width: 50%;
  height: 150px;

  background-color: darkblue;

  margin-top: 75px;
}

.bottom .bottom__col2-2 {
  width: 50%;
  height: 150px;

  background-color: darkgoldenrod;

  margin-top: 75px;
}
